<!DOCTYPE html>
<html {{- if (eq .Site.Params.mode "dark" ) -}}class="dark" {{ end }}>
{{ partial "header.html" . }}

<body>
  <div class="container wrapper">
    {{ partial "head.html" . }}
    <div class="recent-posts section">
      <h2 class="section-headers">Featured</h2>
      {{ $mostRecent := first 1 (.Site.RegularPages.ByDate.Reverse) }}
      {{ range $mostRecent }}
      <div class="most-recent">
        {{ partial "post-preview.html" . }}
      </div>
      {{ end }}
      <!-- Featured Section -->
      {{ $featured := where .Site.RegularPages ".Params.featured" 1 }}
      <div class="posts featured">
        {{ range $featured }}
        <div class="">
          {{ partial "post-preview.html" . }}
        </div>
        {{ end }}
      </div>
    </div>

    <div>
      <div class="section">
        <h2 class="section-headers">Posts</h2>
        <div class="posts">
          {{ $posts := where .Site.RegularPages "Section" "posts" }}
          {{ range $posts }}
          <div class="">
            {{ partial "post-preview.html" . }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>

    <!-- Essays Section -->
    <div class="section">
      <h2 class="section-headers">Essays</h2>
      <div class="posts essays">
        {{ $essays := where .Site.RegularPages "Section" "essays" }}
        {{ range $essays }}
        {{ partial "post-preview.html" . }}
        {{ end }}
      </div>
    </div>

    <!-- Poems Section -->
    <div class="section poems">
      <h2 class="section-headers">Poems</h2>
      <div class="posts">
        {{ $poems := where .Site.RegularPages "Section" "poems" }}
        {{ range $poems }}
        {{ partial "post-preview.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  {{ partial "footer.html" . }}
</body>

</html>